

#playbox {
    position: relative;
    width: 700px;
    height: 700px;
    background-color: rgb(15,48,71);
    top: 0px;
    left: 570px;
}
body {
    background-color: rgb(233,226,188);
}
#logophoto {
position: relative;
left: 500px;
top: 20px;;
height: 200px;
width: 200px;
}

#logoword {
    color: rgb(198,58,50);
    position: relative;
    left: 760px;
    top: -270px;
    font-size: 150px;
}

header {
    background-color: rgb(15,48,71);
    height: 250px;
    width: 2000px;
    position: relative;
    top: -10px;
}

footer{ 
    position: relative;
    background-color: rgb(198,58,50);
    height: 300px;
    bottom: -50px;
}

.footerlinks {
    font-size: 40px;
    position: relative;
    color: black;
}

#about {
    position: relative;
    left: 200px;

}

#high {
    position: relative;
    left: 800px;
    top: -88px;

}

#more {
    position: relative;
    left: 1400px;
    top: -170px;

}

#play {
    position: relative;
    font-size: 50px;
    left: 300px;
    top: 450px;
    color: rgb(198,58,50);
    width: 60px;
    height: 100px;
    background-color: rgb(233,226,188);
}

#rules {
    position: relative;
    left: 315px;
    top: 350px;
    color: rgb(198,58,50);
    background-color: rgb(233,226,188);
    width: 60px;
    height: 30px;
}

#botd {
    position: relative;
    left: 310px;
    top: 350px;
    color: rgb(198,58,50);
    background-color: rgb(233,226,188);
    width: 70px;
    height: 30px;
}

#moreinfologo {
    color: rgb(198,58,50);
    position: relative;
    left: 500px;
    top: -270px;
    font-size: 150px;

}

#moreinfologopic {
    position: relative;
left: 300px;
top: 20px;;
height: 200px;
width: 200px;
}

#logowordrules {
    color: rgb(198,58,50);
    position: relative;
    left: 500px;
    top: -270px;
    font-size: 150px;
}

#about2 {
    position: relative;
    left: 200px;

}

#high2 {
    position: relative;
    left: 800px;
    top: -150px;
}

#more2 {
    position: relative;
    left: 1400px;
    top: -290px;

}

#lower {
    position: relative;
    top: 600px;
}

#creditspage {
    position: relative;
    left: 800px;
    top: 10px;
}

